{% extends 'base.html.twig' %}

{% block body %}
    <div id="area1">
        <form method="post" action="{{ url('start') }}" name="form1">
            <div>
                <span>Suit: </span>
                <span>
                    <select name="suit">
                        {% for suit in suits %}
                            <option value="{{ suit }}">{{ suit }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div>
                <span>Rank: </span>
                <span>
                    <select name="rank">
                        {% for rank in ranks %}
                            <option value="{{ rank }}">{{ rank }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div>
                <span><input type="submit" value="Select a card" name="submit" /></span>
            </div>
        </form>
    </div>
{% endblock %}