{% extends 'base.html.twig' %}

{% block body %}
    {%  if data.start == 0 %}
    <div id="area1">
        <form method="post" action="{{ url('start') }}" name="form1">
            <div>
                <span>Suit: </span>
                <span>
                    <select name="suit">
                        {% for suit in suits %}
                            <option value="{{ suit }}">{{ suit }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div>
                <span>Rank: </span>
                <span>
                    <select name="rank">
                        {% for rank in ranks %}
                            <option value="{{ rank }}">{{ rank }}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div>
                <span><input type="submit" value="Select a card" name="submit" /></span>
            </div>
        </form>
    </div>
    {% elseif data.start == 1 %}
    <div id="area2">
        <div>
            <form action="{{ url('draft') }}" method="post">
                <input type="submit" value="Draft" name="submit" /> (Chance %{{ data.chance }})
            </form>
        </div>
        <div>Your card is: {{ data.card }}</div>
        {% if data.selectedCard %}
            <div>Selected card: {{ data.selectedCard }}</div>
        {% endif %}
    </div>
    {% elseif data.start == 2 %}
        <div>
            Got it, the chance was (%{{ data.chance }})
        </div>

        <div>
            <form action="{{ url('reset') }}" method="post">
                <input type="submit" value="Reset to Step 1" name="submit" />
            </form>
        </div>
    {% endif %}
{% endblock %}